{% extends "layout.html" %}

{% block style %}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto ;
    grid-gap: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1px;
  }
  
  .grid-container > div {
    background-color: rgba(200, 200, 200, 0.3);
    text-align: center;
    padding: 2px 0;
    font-size: 30px;
  }
  
  
   /* Container holding the image and the text */
  .container {
    position: relative;
    text-align: center;
    color: rgba(0, 255, 0, 0.8);
  }
  
  .container-red {
    position: relative;
    text-align: center;
    color: rgba(255, 0, 0, 0.8);
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 5%;
    left: 20%;
    transform: translate(0%, 0%);
    font-size: 16px;
  } 

  .statuslabel{
    background: rgba(90, 90, 90, 0.7);
    padding: 0px 4px;
    border-radius: 7px;
    left: 5px;
  }
{% endblock %}

{% block content %}

          
         <!-- FlashContent -->
        <div style="text-align:center; width: 100%;">
         
            {% with messages = get_flashed_messages(with_categories=true) %}
              <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
              {% if messages %}
                {% for category, message in messages %}
                
                  <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <!-- <strong>Title</strong> --> {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}   
        
      </div>
     <!-- FlashContent -->
     


<div class="row" id="refresher">


{% for validcam in validcams %}


<div class="col-xs-6 col-sm-3 placeholder" id="item{{validcam.did}}">
        <div>
        {% if validcam.url_cam == None %}
            <button  type="button" style ="height: 50%;" class="btn btn-outline-danger btn-lg btn-block btnitem" data-toggle="modal" data-target="#editModal_{{validcam.did}}"><i class="fa fa-times" aria-hidden="true"></i>
                &nbsp;Edit Camera {{validcam.did}}</button>  
            <button  type="button" style ="height: 50%;" class="btn btn-outline-danger btn-lg btn-block btnitem" data-toggle="modal" id="removecam{{validcam.did}}" onclick="deletecam({{validcam.did}})" ><i class="fa fa-times" aria-hidden="true"></i>
                  &nbsp;Remove</button> 
        {% elif validcam.isvalid == 0 %} <!-- Camera not registered -->  
            <button  type="button" class="btn btn-outline-secondary btn-lg btn-block btnitem" data-toggle="modal" data-target="#editModal_{{validcam.did}}"><i class="fa fa-video-camera"></i>&nbsp;Cam {{validcam.did}}</button>                 
        <!-- Camera registered -->  
        {% elif validcam.isenable ==1 and validcam.pingok ==1 %} <!-- Camera is Enable and online -->
             <div class="container item">
                <img style="cursor:pointer;" class="img-responsive" id="cam_{{validcam.did}}" height="120" width="200" data-toggle="modal" data-target="#editModal_{{validcam.did}}" src="{{ url_for('video_feed',camid=validcam.did)}}" onerror="this.onerror=null; this.src='{{ url_for('static', filename='images/nostream.png') }}'" />
                <div class="centered statuslabel"><i class="fa fa-check-circle" style="padding-right: 6px;" ></i>Camera {{validcam.did}} online</div>
              </div>
        {% elif validcam.isenable ==1 and validcam.pingok ==0 %} <!-- Camera is Enable and online -->
              <div class="container-red  item">
                 <img style="cursor:pointer;" class="img-responsive" id="cam_{{validcam.did}}" height="120" width="200" data-toggle="modal" data-target="#editModal_{{validcam.did}}" src="{{ url_for('video_feed',camid=validcam.did)}}" onerror="this.onerror=null; this.src='{{ url_for('static', filename='images/nostream.png') }}'" />
                 <div class="centered statuslabel"><i class="fa fa-times-circle" style="padding-right: 6px;" ></i>Camera {{validcam.did}} offline</div>
               </div>
        {% else %} 
             <button  type="button" class="btn btn-outline-danger btn-lg btn-block btnitem"data-toggle="modal" data-target="#editModal_{{validcam.did}}"><i class="fa fa-times" aria-hidden="true"></i>
            &nbsp;Camera offline</button>                 
        {% endif %}
        </div>
</div>

{% endfor %}
<div class="col-xs-6 col-sm-3 placeholder" id="addcambtn">
   <button  type="button" class="btn btn-outline-secondary btn-lg btn-block btnitem" data-toggle="modal" id="addcam"><i class="fa fa-video-camera"></i>&nbsp;Add Camera</button>                 

</div>
</div>



 <!-- Get URL Modals -->

 {% for validcam in validcams %}
 <!-- Get URL Modals_i -->
 <div class="modal fade" id="editModal_{{validcam.did}}" role="dialog" >
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" >
      <div class="modal-header" >
        <h4>Enter Cam{{validcam.did}} network streaming url</h4>
       </div>

      <div class="modal-body">      
          <form method="post" role="form" action="/" id="form{{validcam.did}}">
                <div class="form-group">
                    <label for="URL_{{validcam.did}}" class="control-label">Cam{{validcam.did}} URL:</label>
                    <input type="text" class="form-control" id="URL_{{validcam.did}}" name="{{validcam.did}}_URL" placeholder="URL-Path" value="{{validcam.url_cam}}"> <!-- ch_v0r87 {rtsp or http}://{user}:{pass}@{IP-address}/{url-path}" >  -->                                       
                    {% if validcam[2] ==1 %}
                        <div class="input-group-prepend">                       
                            <span class="input-group-text"><input id="{{validcam.did}}_en" name="{{validcam.did}}_en" type="checkbox" aria-label="Checkbox for following text input" {% if validcam.isenable==1 %}checked{% endif %}>  Enable  </span>
                            <span class="input-group-text" data-toggle="collapse" href="#collapseExample" ><input id="{{validcam.did}}_rm" name="{{validcam.did}}_rm" type="checkbox"  aria-label="Checkbox for following text input" >  Remove  </span>
                            <!-- collapse remove-warning for modals -->
                            <div class="collapse" id="collapseExample">
                              <div class="card card-body">
                                  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Warning; All the settings for this camera will be lost!
                              </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
          </form>                              
      </div>
      
      <div class="modal-footer">

          <input id="camid" type="hidden" name="camid" form="form{{validcam.did}}" value="{{validcam.did}}">

          {% if validcam[2] ==1 %}
             <button id="calib_{{validcam.did}}" type="submit" name="actions" value="calib" class="btn btn-primary"  form="form{{validcam.did}}"  {% if validcams[1] ==0 or validcams[3] ==0 %} disabled{% endif %}>Calibration</button>
             <button id="analytic_{{validcam.did}}" type="submit" name="actions" value="analytic" class="btn btn-primary"  form="form{{validcam.did}}"  {% if validcams[1] ==0 or validcams[3] ==0 %} disabled{% endif %}>Analytic</button>
          {% endif %}
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          <button type="submit" name="actions" value="submit" class="btn btn-primary" form="form{{validcam.did}}">Submit</button>
      </div>
      
    </div>
  </div>
</div>
<!-- Get URL Modals_i -->
{% endfor %}


{% endblock %}


{% block script %}

  <!-- refresh Cams script -->
  <script>
    /*$(document).ready(function() {
    var url_1 = "static/imgs/Cam_1.jpg?rnd="+Math.random();
    var url_2 = "static/imgs/Cam_2.jpg?rnd="+Math.random();
    var url_3 = "static/imgs/Cam_3.jpg?rnd="+Math.random();
    var url_4 = "static/imgs/Cam_4.jpg?rnd="+Math.random();
    var url_5 = "static/imgs/Cam_5.jpg?rnd="+Math.random();
    var url_6 = "static/imgs/Cam_6.jpg?rnd="+Math.random();
    var url_7 = "static/imgs/Cam_7.jpg?rnd="+Math.random();
    var url_8 = "static/imgs/Cam_8.jpg?rnd="+Math.random();
    var url_9 = "static/imgs/Cam_9.jpg?rnd="+Math.random();
    var url_10 = "static/imgs/Cam_10.jpg?rnd="+Math.random();
    var url_11 = "static/imgs/Cam_11.jpg?rnd="+Math.random();
    var url_12 = "static/imgs/Cam_12.jpg?rnd="+Math.random();
    var url_13 = "static/imgs/Cam_13.jpg?rnd="+Math.random();
    var url_14 = "static/imgs/Cam_14.jpg?rnd="+Math.random();
    var url_15 = "static/imgs/Cam_15.jpg?rnd="+Math.random();
    var url_16 = "static/imgs/Cam_16.jpg?rnd="+Math.random();
    $("#cam_1").attr("src",url_1);
    $("#cam_2").attr("src",url_2);
    $("#cam_3").attr("src",url_3);
    $("#cam_4").attr("src",url_4);
    $("#cam_5").attr("src",url_5);
    $("#cam_6").attr("src",url_6);
    $("#cam_7").attr("src",url_7);
    $("#cam_8").attr("src",url_8);
    $("#cam_9").attr("src",url_9);
    $("#cam_10").attr("src",url_10);
    $("#cam_11").attr("src",url_11);
    $("#cam_12").attr("src",url_12);
    $("#cam_13").attr("src",url_13);
    $("#cam_14").attr("src",url_14);
    $("#cam_15").attr("src",url_15);
    $("#cam_16").attr("src",url_16);
    }); */

    let values = [];
    let elements = document.querySelectorAll('[id*=URL_]');
    for (let element of elements) {
      if (element) {
        let urltext = element.value;
        if (urltext.includes("static/videos/")){
            let result = urltext.substring(urltext.lastIndexOf("/")+ 1);
            element.setAttribute("value",result);  // Output: example
        }
      }
    }
</script>

<script>
  $(document).ready(function() {

    $('#addcam').click(function() {
      $.ajax({
        url: '/createcam',
        type: 'POST',
        success: function(response) {
          console.log(response);

          // jquery starting here

          //$("#refresher").html("");

          $.each(response.items, function(index, item) {
          var i=parseInt(item) - 1;
          
          var newhtml=`<div class="col-xs-6 col-sm-3 placeholder" id="item${item}">
                            <div>
                            <button  type="button" style ="height: 50%;" class="btn btn-outline-danger btn-lg btn-block btnitem" data-toggle="modal" data-target="#editModal_${item}"><i class="fa fa-times" aria-hidden="true"></i>
                                &nbsp;Edit Camera ${item}</button>  
                            <button  type="button" style ="height: 50%;" class="btn btn-outline-danger btn-lg btn-block btnitem" data-toggle="modal" id="removecam${item}" onclick="deletecam(${item})" ><i class="fa fa-times" aria-hidden="true"></i>
                                  &nbsp;Remove</button> 

                            </div>
                    </div>
                    `;
          
          var new_custom_modal_for_new_item=`  <!-- Get URL Modals_i -->
                          <div class="modal fade" id="editModal_${item}" role="dialog" >
                            <div class="modal-dialog">
                              <!-- Modal content-->
                              <div class="modal-content" >
                                <div class="modal-header" >
                                  <h4>Enter Cam${item} network streaming url</h4>
                                </div>

                                <div class="modal-body">      
                                    <form method="post" role="form" action="/" id="form${item}">
                                          <div class="form-group">
                                              <label for="URL_${item}" class="control-label">Cam${item} URL:</label>
                                              <input type="text" class="form-control" id="URL_${item}" name="${item}_URL" placeholder="URL-Path"> <!-- ch_v0r87 {rtsp or http}://{user}:{pass}@{IP-address}/{url-path}" >  -->                                       
                                          </div>
                                    </form>                              
                                </div>
                                
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                  <button type="submit" name="actions" value="submit" class="btn btn-primary" form="form${item}">Submit</button>
                                </div>
                                
                              </div>
                            </div>
                          </div>`

          //$("#addcambtn").before(newhtml);
          


          if(i != 0)
              $("#item" + i).after(newhtml);
          else
              $("#addcambtn").before(newhtml);

          $("#cfo").append(new_custom_modal_for_new_item);

              });
          //window.location.reload(); // if you want to stop using jquery then you can remove from jq part and use this
        },
        error: function(error) {
          console.log(error);
        }

      });
    });



  });

  

  function deletecam(camid) {
        $.ajax({
        url: '/deletecam',
        type: 'POST',
        data: {camid: camid},
        success: function(response) {
          console.log(response);
          $("#item"+camid).remove()
          //window.location.reload();
        },
        error: function(error) {
          console.log(error);
        }
      });
      } 




      




</script>


{% endblock %}
